
table{
    width:100%;
    border-collapse:collapse;
}
th,td{
    border: solid 1px #eee;
    padding: 5px;
}
th {
    background-color: #FF943B;
    color: #732002;
    text-align:center;
}
tr:nth-child(even){
    background-color: #FF943B;
    color: #732002;
    text-align:center;
}
.Gato{
    width: 632px;
    height: 353px;
    margin:auto;
}
img{
    display:inline;
    margin:auto;
    width: 450px;
    height: 450px;
    object-fit: cover;
}
.Testimonio{
    background-color:#5496FF;
    width: 385px;
    height: 683px;
    font-size: 20px;
}
img.ImagenSeñoraRojo{
    float: center;
    transform: translate(410px,-510px) ;
    margin:auto;
    width: 385px;
    height: 683px;
    object-fit: cover;
}

img.ImagenMujerGris{
    float: center;
    transform: translate(810px,-1200px) ;
    margin:auto;
    width: 385px;
    height: 683px;
    object-fit: cover;
}
img.ImagenPerroBlanco{
    float: center;
    transform: translate(1210px,-1890px) ;
    margin:auto;
    width: 377px;
    height: 341.5px;
    object-fit: cover;
}
img.ImagenPerroGris{
    float: center;
    transform: translate(1210px,-1890px) ;
    margin:auto;
    width: 377px;
    height: 330px;
    object-fit: cover;
}

/*------------footer----------*/

.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    font-size: 20px;
    background: #5496FF;
}
.footer h2{
    color: #fff;
}
.fot{
    display: flex;
    justify-content: space-evenly;
}

.fot1{
    position: relative;
    max-width: 700px;
    min-width: 450px;
}
.fot1{
    margin-bottom: 60px;
}
.fot1 .fott{
    position: absolute;
    bottom: 0;
    background: #000000;
    width: 70%;
    padding: 40px 0px;
}

.fot2 img{
    width: 338px;
    height: 211px;
    margin: 0px 40px;
}

.fot2{
    flex-basis: 5%;
    padding: 50px 0px ;
}


.fot3 {
    margin: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fot3 .fa-brands{
    margin: 0px 40px;
    padding: 25px 0;
}

